<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kurs Vue.js - Przykład 44</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.0/spectre.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.0/spectre-icons.min.css">
    <style>
        .container {
            margin-top: 100px;
            margin-bottom: 100px;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

    <div id="app" v-cloak>

        <edu-app>

            <template slot-scope="props">
                <div class="container grid-lg">
                    <h1>{{ props.title }}</h1>
                </div>
            </template>

            <template slot="navbar">
                <a href="https://eduweb.pl" class="btn btn-link">eduweb.pl</a>
            </template>

            <template slot="name">
                <h2>Panel administracyjny</h2>
                <p>Skorzystaj z nawigacji powyżej.</p>
            </template>

            <template slot="footer">
                <p>Copyright &copy; {{ (new Date()).getFullYear() }}.</p>
            </template>

        </edu-app>

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
<script>

    var Event = new Vue({
        methods: {
            remove: function(id) {
                this.$emit("remove", id);
            }
        }
    });

    Vue.component("edu-app", {
        template: `
        <div>

            <slot :title="title"></slot>

            <div class="container grid-lg">

                <header class="navbar">

                    <section class="navbar-section">
                        <a href="https://vuejs.org" class="navbar-brand mr-2">Vue.js</a>
                        <a href="#" class="btn btn-link" @click.prevent="view = 'edu-home'">Home</a>
                        <a href="#" class="btn btn-link" @click.prevent="view = 'edu-users'">Użytkownicy</a>
                        <slot name="navbar"></slot>
                    </section>

                </header>

            </div>

            <div class="container grid-lg">

                <section>
                    <keep-alive>
                        <component :is="view" :users="users">
                            <slot name="main"></slot>
                        </component>
                    </keep-alive>
                </section>

            </div>

            <div class="container grid-lg">

                <footer>
                    <slot name="footer"></slot>
                </footer>

            </div>

        </div>
        `,
        data: function() {
            return {
                title: "Aplikacja",
                view: "edu-home",
                users: [
                    {id: 1, fullName: "Jan Kowalski", age: 32},
                    {id: 2, fullName: "Anna Nowak", age: 27},
                    {id: 3, fullName: "Tomasz Zielony", age: 40},
                    {id: 4, fullName: "Katarzyna Tomczyk", age: 34},
                    {id: 5, fullName: "Mariusz Klasa", age: 21}
                ]
            };
        },
        methods: {
            remove: function(id) {
                var index = _.findIndex(this.users, ["id", id]);
                this.users.splice(index, 1);
            }
        },
        created: function() {
            Event.$on("remove", this.remove);
        }
    });

    Vue.component("edu-home", {
        template: `
            <div>
                <slot>
                    <h1>{{ message }}</h1>
                    <p>{{ text }}</p>
                </slot>
            </div>
        `,
        data: function() {
            return {
                message: "Panel administracyjny",
                text: "Skorzystaj z nawigacji powyżej."
            };
        }
    });

    Vue.component("edu-users", {
        template: `
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Lp.</th>
                        <th>Imię i nazwisko</th>
                        <th>Wiek</th>
                        <th>Edytuj</th>
                        <th>Usuń</th>
                    </tr>
                </thead>
                <tbody>
                    <edu-user v-for="(user, index) in users"
                    :user="user"
                    :index="index"
                    :key="user.id"
                    />
                </tbody>
            </table>
        `,
        props: ["users"]
    });

    Vue.component("edu-user", {
        template: `
            <tr>
                <td>{{ index + 1 }}.</td>
                <td>
                    <template v-if="editMode">
                    <div class="form-group">
                        <input type="text" class="form-input" v-model.lazy="user.fullName" />
                    </div>
                    </template>
                    <template v-else>
                        {{ user.fullName }}
                    </template>
                </td>
                <td>{{ user.age }}</td>
                <td>
                    <button class="btn btn-primary" @click="editMode = !editMode">
                        <i class="icon" :class="{ 'icon-edit': !editMode, 'icon-check': editMode }"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-error" @click="remove(user.id)">
                        <i class="icon icon-delete"></i>
                    </button>
                </td>
            </tr>
        `,
        data: function() {
            return {
                editMode: false
            };
        },
        props: ["user", "index"],
        methods: {
            remove: function(id) {
                Event.remove(id);
            }
        }
    });

    new Vue({
        el: "#app"
    });

</script>
</body>
</html>